<!doctype html>
<html>
<head></head>
<body>

hello this is our home page 

<input type="button" value="CallPOST" id="btnPost" onclick="callPost();">

<div class="post_data" id="post_data">

</div>

<form action="/testPost" method="POST">
	<input type="hidden" name="model" value="galaxy s2"/>
	<input type="hidden" name="price" value="Rs 25000"/>
	<input type="submit" name="btnSubmit" value="Submit"/>
</form>

<script type="text/javascript">

var callPost = function(){
	var params = {
								"name":"ishant",
								"class":"Gold Class"
								};

	var xhr = new XMLHttpRequest();
			xhr.open('POST','/callpost',true);
			xhr.setRequestHeader('Content-type','application/json');
			xhr.send(JSON.stringify(params));
			xhr.onreadystatechange = (function(){
				return function(){
					getResponse(xhr);
				}
			}(xhr));
}

function getResponse(xhr){
	if(xhr.readyState == 4 && xhr.status == 200){
			var respJson = JSON.parse(xhr.responseText);
			document.getElementById('post_data').innerHTML = "Name :"+respJson.name+" --------------- 	Project-Url :"+respJson.project;
		}
}

</script>
</body>
</html>